<!DOCTYPE html>
<html lang="en">

<head>
    <a href="https://api.helldiversgame.com/0.3/">Länken till API</a>
    <meta charset="UTF-8">
   <!-- <meta http-equiv="refresh" content="30"/> -->
    <title>stats</title>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="MainpageData.js"></script>
    <script src="Calculation.js"></script>
    <script src="LinearCalc.js"></script>
    <link rel="stylesheet" type="text/css" href="MainpageDesign.css">
    <link rel="stylesheet" type="text/css" href="rangeBarDesign.css">
    <link rel="stylesheet" type="text/css" href="droplistDesign.css">
</head>

<body ng-app="app">
<div ng-controller="WebApiCtrl">
    <h1 style="color: rgba(0, 0, 0, 1)">Statistics</h1><br/>
    <div id="slider" style="background: rgba(209, 255, 181, 1); height:500px; width: 98%;">
        {{data}} <br /><br />
    </div>
    <br/><br/>
    <form style="text-align:center">
        <p style="text-align: center;">
            <label>Day: </label>
            <output id="sliderValue"></output>
        </p>
        <!-- change var name  -->

        <input style="width:500px;" type="range" id="rating" min="1" max="{{getEventSize()}}" value="{{defaultSlide()}}" step="0.01"
               onchange="angular.element(this).scope().camp();evalSlider2();" oninput="evalSlider2()"/>

            <br /><br/>
        <br/>

        <!--Sätter in Select  och innehåll från delen som Teddy & Carlos jobbade med, det är det enda som ändras i denna fil -->
        <select id="enemyType" name="Faction" data-value="bugs" onchange="angular.element(this).scope().selectStatisticsInSeason()">
            <option value="global_stats">GlobalStats</option>
            <option value="0">Bugs</option>
            <option value="1">Illuminate</option>
            <option value="2">Cyborgs</option>
        </select>

        <select id="seasons"data-value="bugs" onmouseover="angular.element(this).scope().getSeason();" onchange="saveSeason();angular.element(this).scope().getSnaps();">
            <option value="">Season</option>
        </select>
    </form>
    <br/>
</div>


<!-- FÖr att få evalslider att funka  -->
<div ng-controller="WebApiCtrl">
    <h2>ArrowHead stats:</h2>
    {{campaign}}
    <h2>Campaign Status</h2>
    <table style="width:75%">
        <tr>
            <th>Time:</th>
            <th>Error Code:</th>
            <th>Season:</th>
            <th>Points:</th>
            <th>Points taken:</th>
            <th>Max points</th>
            <th>Status</th>
            <th>Introduction Order:</th>
        </tr>
        <tr>
            <td>{{campaign.time}}</td>

            <td>{{campaign.error_code}}</td>
            <!--Season-->
            <td>
                <li ng-repeat="stat in campaign.campaign_status">
                    {{stat.season}}
                </li>
            </td>
            <!--Points-->
            <td>
                <li ng-repeat="stat in campaign.campaign_status">
                    {{stat.points}}
                </li>
            </td>
            <!--Points Taken-->
            <td>
                <li ng-repeat="stat in campaign.campaign_status">
                    {{stat.points_taken}}
                </li>
            </td>
            <!--Max Points-->
            <td>
                <li ng-repeat="stat in campaign.campaign_status">
                    {{stat.points_max}}
                </li>
            </td>
            <!--Status-->
            <td>
                <li ng-repeat="stat in campaign.campaign_status">
                    {{stat.status}}
                </li>
            </td>
            <!--Introduction Order-->
            <td>
                <li ng-repeat="stat in campaign.campaign_status">
                    {{stat.introduction_order}}
                </li>
            </td>
        </tr>
    </table>

    <!--Defend Event stats-->
    <h2>Defend Event</h2>
    <table style="width:75%">
        <tr>
            <th>Season:</th>
            <th>Event ID:</th>
            <th>Start Time:</th>
            <th>End Time</th>
            <th>Region:</th>
            <th>Enemy:</th>
            <th>Max points:</th>
            <th>Points:</th>
            <th>Status:</th>
        </tr>
        <tr>
            <td>
                {{campaign.defend_event.season}}
            </td>

            <td>
                {{campaign.defend_event.event_id}}
            </td>
            <!--Season-->
            <td>
                {{campaign.defend_event.start_time}}
            </td>
            <!--end time-->
            <td>
                {{campaign.defend_event.end_time}}
            </td>
            <!--region-->
            <td>
                {{campaign.defend_event.region}}
            </td>
            <!--enemy-->
            <td>
                {{campaign.defend_event.enemy}}
            </td>
            <!--max points-->
            <td>
                {{campaign.defend_event.points_max}}
            </td>
            <!--Points-->
            <td>
                {{campaign.defend_event.points}}
            </td>
            <!--status-->
            <td>
                {{campaign.defend_event.status}}
            </td>
        </tr>
    </table>
    <!--Attack Event stats-->
    <h2>Attack Event</h2>

    <table style="width:75%">
        <tr>
            <th>Season:</th>
            <th>Event id:</th>
            <th>Start time:</th>
            <th>End time:</th>
            <th>Enemy:</th>
            <th>Max Points:</th>
            <th>Points:</th>
            <th>Status:</th>
            <th>Players at Start:</th>
            <th>Max Event ID:</th>
        </tr>
        <tr>
            <td>
                <li ng-repeat="attack in campaign.attack_events">
                    {{attack.season}}
                </li>
            </td>
            <td>
                <li ng-repeat="attack in campaign.attack_events">
                    {{attack.event_id}}
                </li>
            </td>
            <td>
                <li ng-repeat="attack in campaign.attack_events">
                    {{attack.start_time}}
                </li>
            </td>
            <td>
                <li ng-repeat="attack in campaign.attack_events">
                    {{attack.end_time}}
                </li>
            </td>
            <td>
                <li ng-repeat="attack in campaign.attack_events">
                    {{attack.enemy}}
                </li>
            </td>
            <td>
                <li ng-repeat="attack in campaign.attack_events">
                    {{attack.points_max}}
                </li>
            </td>
            <td>
                <li ng-repeat="attack in campaign.attack_events">
                    {{attack.points}}
                </li>
            </td>
            <td>
                <li ng-repeat="attack in campaign.attack_events">
                    {{attack.status}}
                </li>
            </td>
            <td>
                <li ng-repeat="attack in campaign.attack_events">
                    {{attack.players_at_start}}
                </li>
            </td>
            <td>
                <li ng-repeat="attack in campaign.attack_events">
                    {{attack.max_event_id}}
                </li>
            </td>
        </tr>
    </table>
    <!--Statistics-->
    <h2>Statistics</h2>
    <table style="width:75%">
        <tr>
            <th>Season:</th>
            <th>Season Duration:</th>
            <th>Enemy:</th>
            <th>Players:</th>
            <th>Total Unique Players:</th>
            <th>Missions:</th>
            <th>Successful Missions:</th>
            <th>Total Mission Difficulty:</th>
            <th>Completed Planets:</th>
            <th>Defend Events:</th>
            <th>Successful Defend Events:</th>

        </tr>

        <tr>
            <td>
                <li ng-repeat="stat in campaign.statistics">
                    {{stat.season}}
                </li>
            </td>
            <td>
                <li ng-repeat="stat in campaign.statistics">
                    {{stat.season_duration}}
                </li>
            </td>
            <td>
                <li ng-repeat="stat in campaign.statistics">
                    {{stat.enemy}}
                </li>
            </td>
            <td>
                <li ng-repeat="stat in campaign.statistics">
                    {{stat.players}}
                </li>
            </td>
            <td>
                <li ng-repeat="stat in campaign.statistics">
                    {{stat.total_unique_players}}
                </li>
            </td>
            <td>
                <li ng-repeat="stat in campaign.statistics">
                    {{stat.missions}}
                </li>
            </td>
            <td>
                <li ng-repeat="stat in campaign.statistics">
                    {{stat.successful_missions}}
                </li>
            </td>

            <td>
                <li ng-repeat="stat in campaign.statistics">
                    {{stat.total_mission_difficulty}}
                </li>
            </td>
            <td>
                <li ng-repeat="stat in campaign.statistics">
                    {{stat.completed_planets}}
                </li>
            </td>

            <td>
                <li ng-repeat="stat in campaign.statistics">
                    {{stat.defend_events}}
                </li>
            </td>
            <td>
                <li ng-repeat="stat in campaign.statistics">
                    {{stat.successful_defend_events}}
                </li>
            </td>

            <table style="width:75%">
                <tr>
                    <!--Andra delen-->
                    <th>Attack Events:</th>
                    <th>Successful Attack Events:</th>
                    <th>Deaths:</th>
                    <th>Kills:</th>
                    <th>Accidentals:</th>
                    <th>Shots:</th>
                    <th>Hits:</th>

                </tr>

                <td>
                    <li ng-repeat="stat in campaign.statistics">
                        {{stat.attack_events}}
                    </li>
                </td>
                <td>
                    <li ng-repeat="stat in campaign.statistics">
                        {{stat.successful_attack_events}}
                    </li>
                </td>
                <td>
                    <li ng-repeat="stat in campaign.statistics">
                        {{stat.deaths}}
                    </li>
                </td>
                <td>
                    <li ng-repeat="stat in campaign.statistics">
                        {{stat.kills}}
                    </li>
                </td>
                <td>
                    <li ng-repeat="stat in campaign.statistics">
                        {{stat.accidentals}}
                    </li>
                </td>
                <td>
                    <li ng-repeat="stat in campaign.statistics">
                        {{stat.shots}}
                    </li>
                </td>
                <td>
                    <li ng-repeat="stat in campaign.statistics">
                        {{stat.hits}}
                    </li>
                </td>
            </table>
        </tr>
    </table>

    <table style="width:75%">
        <tr>
            <th>Accuracy:</th>
            <th>KD ratio</th>
            <th>Mission Percentage</th>
            <th>Defend Percentage</th>
            <th>Attack Percentage</th>
            <th>Accidential kills</th>
        </tr>
        <td>
            <li ng-repeat="calc in calculation">
                {{calc.accuracy}}
            </li>
        </td>
        <td>
            <li ng-repeat="calc in calculation">
                {{calc.kdRatio}}
            </li>
        </td>

        <td>
            <li ng-repeat="calc in calculation">
                {{calc.missionsPercentage}}
            </li>
        </td>

        <td>
            <li ng-repeat="calc in calculation">
                {{calc.defendPercentage}}
            </li>
        </td>

        <td>
            <li ng-repeat="calc in calculation">
                {{calc.attackPercentage}}
            </li>
        </td>

        <td>
            <li ng-repeat="calc in calculation">
                {{calc.accidentalKills}}
            </li>
        </td>
    </table>
</div>
</body>
</html>