<!DOCTYPE html>
<html lang="en">

<head>
    <a href="https://api.helldiversgame.com/0.3/">Länken till API</a>
    <meta charset="UTF-8">
   <!-- <meta http-equiv="refresh" content="30"/> -->
    <title>stats</title>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="MainpageData.js"></script>
    <script src="Calculation.js"></script>
    <script src="LinearCalc.js"></script>
    <link rel="stylesheet" type="text/css" href="MainpageDesign.css">
    <link rel="stylesheet" type="text/css" href="rangeBarDesign.css">
    <link rel="stylesheet" type="text/css" href="droplistDesign.css">
</head>

<body ng-app="app">
<div ng-controller="WebApiCtrl">
    <h1 style="color: rgba(0, 0, 0, 1)">View example</h1><br/>
    <div id="slider" style="background: rgba(209, 255, 181, 1); height:500px; width: 98%; overflow: auto">
        {{data}}
    </div>
    <br/><br/>
    <form style="text-align:center">
        <p style="text-align: center;">
            <label>Day: </label>
            <output id="sliderValue"></output>
        </p>
        <!-- change var name  -->
        <input style="width:500px;" type="range" id="rating" min="1" max="{{getEventSize()}}" value="{{defaultSlide()}}" step="0.01"
               onchange="angular.element(this).scope().camp();evalSlider2();" oninput="evalSlider2()"/>
        <br /><br/>
        <br/>

        <!--Sätter in Select  och innehåll från delen som Teddy & Carlos jobbade med, det är det enda som ändras i denna fil -->
        <select id="enemyType" name="Faction" data-value="bugs" onchange="angular.element(this).scope().camp()">
            <option value="global_stats">GlobalStats</option>
            <option value="0">Bugs</option>
            <option value="1">Illuminate</option>
            <option value="2">Cyborgs</option>
        </select>

        <!-- För att få dropdown menyn att reagera korrekt i alla lägen, Teddy & Co -->
        <select id="seasons"data-value="bugs" onmouseover="angular.element(this).scope().getSeason();" onchange="saveSeason();angular.element(this).scope().camp();">
            <option value="">Season</option>
        </select>

        <!-- För att få dropdown menyn att reagera korrekt i alla lägen, Teddy & Co -->
        <select id="all"data-value="global" onmouseover="angular.element(this).scope().filterData();" onchange="angular.element(this).scope().camp()">
            <option value="">All</option>
        </select>


    </form>
    <br/>
</div>


<!-- För att få evalslider att funka, Teddy & Co  -->
<div ng-controller="WebApiCtrl">
    <h2>ArrowHead stats:</h2>
    <div ng-include="'chebox_Snap.html'"></div>

    <!--Dani & Co -->
    <table style="width:75%">
        <tr>
            <th>Accuracy:</th>
            <th>KD ratio</th>
            <th>Mission Percentage</th>
            <th>Defend Percentage</th>
            <th>Attack Percentage</th>
            <th>Accidential kills</th>
        </tr>
        <td>
            <li ng-repeat="calc in calculation">
                {{calc.accuracy}}
            </li>
        </td>
        <td>
            <li ng-repeat="calc in calculation">
                {{calc.kdRatio}}
            </li>
        </td>

        <td>
            <li ng-repeat="calc in calculation">
                {{calc.missionsPercentage}}
            </li>
        </td>

        <td>
            <li ng-repeat="calc in calculation">
                {{calc.defendPercentage}}
            </li>
        </td>

        <td>
            <li ng-repeat="calc in calculation">
                {{calc.attackPercentage}}
            </li>
        </td>

        <td>
            <li ng-repeat="calc in calculation">
                {{calc.accidentalKills}}
            </li>
        </td>
    </table>




</div>
</body>
</html>