<!DOCTYPE html>
<html lang="en">

<head>
    <a href="https://api.helldiversgame.com/0.3/">Länken till API</a>
    <meta charset="UTF-8">
    <title>stats</title>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="test.js"></script>
    <link rel="stylesheet" type="text/css" href="Timeline.css">
    <link rel="stylesheet" type="text/css" href="rangeBar.css">
</head>

<body ng-app="app">
<div ng-controller="WebApiCtrl">
    <h1 style="color: rgba(0, 0, 0, 1)">View example</h1><br/>
    <div id="slider" style="background: rgba(209, 255, 181, 1); height:500px; width: 1000px;">

        <h2>Statistics</h2>
        <table style="width:75%">
            <tr>
                <th>Season:</th>
                <th>Season Duration:</th>
                <th>Enemy:</th>
                <th>Players:</th>
                <th>Total Unique Players:</th>
                <th>Missions:</th>
                <th>Successful Missions:</th>
                <th>Total Mission Difficulty:</th>
                <th>Completed Planets:</th>
                <th>Defend Events:</th>
                <th>Successful Defend Events:</th>

            </tr>

            <tr>
                <td>
                    <li ng-repeat="stat in result.statistics">
                        {{stat.season}}
                    </li>
                </td>
                <td>
                    <li ng-repeat="stat in result.statistics">
                        {{stat.season_duration}}
                    </li>
                </td>
                <td>
                    <li ng-repeat="stat in result.statistics">
                        {{stat.enemy}}
                    </li>
                </td>
                <td>
                    <li ng-repeat="stat in result.statistics">
                        {{stat.players}}
                    </li>
                </td>
                <td>
                    <li ng-repeat="stat in result.statistics">
                        {{stat.total_unique_players}}
                    </li>
                </td>
                <td>
                    <li ng-repeat="stat in result.statistics">
                        {{stat.missions}}
                    </li>
                </td>
                <td>
                    <li ng-repeat="stat in result.statistics">
                        {{stat.successful_missions}}
                    </li>
                </td>

                <td>
                    <li ng-repeat="stat in result.statistics">
                        {{stat.total_mission_difficulty}}
                    </li>
                </td>
                <td>
                    <li ng-repeat="stat in result.statistics">
                        {{stat.completed_planets}}
                    </li>
                </td>

                <td>
                    <li ng-repeat="stat in result.statistics">
                        {{stat.defend_events}}
                    </li>
                </td>
                <td>
                    <li ng-repeat="stat in result.statistics">
                        {{stat.successful_defend_events}}
                    </li>
                </td>

                <table style="width:75%">
                    <tr>
                        <!--Andra delen-->
                        <th>Attack Events:</th>
                        <th>Successful Attack Events:</th>
                        <th>Deaths:</th>
                        <th>Kills:</th>
                        <th>Accidentals:</th>
                        <th>Shots:</th>
                        <th>Hits:</th>

                    </tr>

                    <td>
                        <li ng-repeat="stat in result.statistics">
                            {{stat.attack_events}}
                        </li>
                    </td>
                    <td>
                        <li ng-repeat="stat in result.statistics">
                            {{stat.successful_attack_events}}
                        </li>
                    </td>
                    <td>
                        <li ng-repeat="stat in result.statistics">
                            {{stat.deaths}}
                        </li>
                    </td>
                    <td>
                        <li ng-repeat="stat in result.statistics">
                            {{stat.kills}}
                        </li>
                    </td>
                    <td>
                        <li ng-repeat="stat in result.statistics">
                            {{stat.accidentals}}
                        </li>
                    </td>
                    <td>
                        <li ng-repeat="stat in result.statistics">
                            {{stat.shots}}
                        </li>
                    </td>
                    <td>
                        <li ng-repeat="stat in result.statistics">
                            {{stat.hits}}
                        </li>
                    </td>
                    </table>
                </table>

    </div>
    <br/><br/>
    <form style="text-align:center">
        <p style="text-align: center;">Day:
            <output id="sliderValue"></output>
        </p>
        <input style="width:500px;" type="range" id="rating" min="1" max="50" value="1" step="1"
               onchange="evalSlider()" oninput="evalSlider()"/>

    </form>
    <br/>
</div>


<p>Select Faction</p>
<form action="test.json">
    <select name="Faction">
        <option value="bugs">Bugs</option>
        <option value="the_illuminate">The Illuminate</option>
        <option value="cyborgs">Cyborgs</option>
    </select>
    <br><br>
    <input type="submit">
</form>
<div ng-controller="WebApiCtrl">
    <h2>ArrowHead stats:</h2>
    {{result}}
    <h2>Campaign Status</h2>
    <table style="width:75%">
        <tr>
            <th>Time:</th>
            <th>Error Code:</th>
            <th>Season:</th>
            <th>Points:</th>
            <th>Points taken:</th>
            <th>Max points</th>
            <th>Status</th>
            <th>Introduction Order:</th>
        </tr>
        <tr>
            <td>{{result.time}}</td>

            <td>{{result.error_code}}</td>
            <!--Season-->
            <td>
                <li ng-repeat="stat in result.campaign_status">
                    {{stat.season}}
                </li>
            </td>
            <!--Points-->
            <td>
                <li ng-repeat="stat in result.campaign_status">
                    {{stat.points}}
                </li>
            </td>
            <!--Points Taken-->
            <td>
                <li ng-repeat="stat in result.campaign_status">
                    {{stat.points_taken}}
                </li>
            </td>
            <!--Max Points-->
            <td>
                <li ng-repeat="stat in result.campaign_status">
                    {{stat.points_max}}
                </li>
            </td>
            <!--Status-->
            <td>
                <li ng-repeat="stat in result.campaign_status">
                    {{stat.status}}
                </li>
            </td>
            <!--Introduction Order-->
            <td>
                <li ng-repeat="stat in result.campaign_status">
                    {{stat.introduction_order}}
                </li>
            </td>
        </tr>
    </table>

    <!--Defend Event stats-->
    <h2>Defend Event</h2>
    <table style="width:75%">
        <tr>
            <th>Season:</th>
            <th>Event ID:</th>
            <th>Start Time:</th>
            <th>End Time</th>
            <th>Region:</th>
            <th>Enemy:</th>
            <th>Max points:</th>
            <th>Points:</th>
            <th>Status:</th>
        </tr>
        <tr>
            <td>
                {{result.defend_event.season}}
            </td>

            <td>
                {{result.defend_event.event_id}}
            </td>
            <!--Season-->
            <td>
                {{result.defend_event.start_time}}
            </td>
            <!--end time-->
            <td>
                {{result.defend_event.end_time}}
            </td>
            <!--region-->
            <td>
                {{result.defend_event.region}}
            </td>
            <!--enemy-->
            <td>
                {{result.defend_event.enemy}}
            </td>
            <!--max points-->
            <td>
                {{result.defend_event.points_max}}
            </td>
            <!--Points-->
            <td>
                {{result.defend_event.points}}
            </td>
            <!--status-->
            <td>
                {{result.defend_event.status}}
            </td>
        </tr>
    </table>
    <!--Attack Event stats-->
    <h2>Attack Event</h2>

    <table style="width:75%">
        <tr>
            <th>Season:</th>
            <th>Event id:</th>
            <th>Start time:</th>
            <th>End time:</th>
            <th>Enemy:</th>
            <th>Max Points:</th>
            <th>Points:</th>
            <th>Status:</th>
            <th>Players at Start:</th>
            <th>Max Event ID:</th>
        </tr>
        <tr>
            <td>
                <li ng-repeat="attack in result.attack_events">
                    {{attack.season}}
                </li>
            </td>
            <td>
                <li ng-repeat="attack in result.attack_events">
                    {{attack.event_id}}
                </li>
            </td>
            <td>
                <li ng-repeat="attack in result.attack_events">
                    {{attack.start_time}}
                </li>
            </td>
            <td>
                <li ng-repeat="attack in result.attack_events">
                    {{attack.end_time}}
                </li>
            </td>
            <td>
                <li ng-repeat="attack in result.attack_events">
                    {{attack.enemy}}
                </li>
            </td>
            <td>
                <li ng-repeat="attack in result.attack_events">
                    {{attack.points_max}}
                </li>
            </td>
            <td>
                <li ng-repeat="attack in result.attack_events">
                    {{attack.points}}
                </li>
            </td>
            <td>
                <li ng-repeat="attack in result.attack_events">
                    {{attack.status}}
                </li>
            </td>
            <td>
                <li ng-repeat="attack in result.attack_events">
                    {{attack.players_at_start}}
                </li>
            </td>
            <td>
                <li ng-repeat="attack in result.attack_events">
                    {{attack.max_event_id}}
                </li>
            </td>
        </tr>
    </table>
    <!--Statistics-->
    <h2>Statistics</h2>
    <table style="width:75%">
        <tr>
            <th>Season:</th>
            <th>Season Duration:</th>
            <th>Enemy:</th>
            <th>Players:</th>
            <th>Total Unique Players:</th>
            <th>Missions:</th>
            <th>Successful Missions:</th>
            <th>Total Mission Difficulty:</th>
            <th>Completed Planets:</th>
            <th>Defend Events:</th>
            <th>Successful Defend Events:</th>

        </tr>

        <tr>
            <td>
                <li ng-repeat="stat in result.statistics">
                    {{stat.season}}
                </li>
            </td>
            <td>
                <li ng-repeat="stat in result.statistics">
                    {{stat.season_duration}}
                </li>
            </td>
            <td>
                <li ng-repeat="stat in result.statistics">
                    {{stat.enemy}}
                </li>
            </td>
            <td>
                <li ng-repeat="stat in result.statistics">
                    {{stat.players}}
                </li>
            </td>
            <td>
                <li ng-repeat="stat in result.statistics">
                    {{stat.total_unique_players}}
                </li>
            </td>
            <td>
                <li ng-repeat="stat in result.statistics">
                    {{stat.missions}}
                </li>
            </td>
            <td>
                <li ng-repeat="stat in result.statistics">
                    {{stat.successful_missions}}
                </li>
            </td>

            <td>
                <li ng-repeat="stat in result.statistics">
                    {{stat.total_mission_difficulty}}
                </li>
            </td>
            <td>
                <li ng-repeat="stat in result.statistics">
                    {{stat.completed_planets}}
                </li>
            </td>

            <td>
                <li ng-repeat="stat in result.statistics">
                    {{stat.defend_events}}
                </li>
            </td>
            <td>
                <li ng-repeat="stat in result.statistics">
                    {{stat.successful_defend_events}}
                </li>
            </td>

            <table style="width:75%">
                <tr>
                    <!--Andra delen-->
                    <th>Attack Events:</th>
                    <th>Successful Attack Events:</th>
                    <th>Deaths:</th>
                    <th>Kills:</th>
                    <th>Accidentals:</th>
                    <th>Shots:</th>
                    <th>Hits:</th>

                </tr>

                <td>
                    <li ng-repeat="stat in result.statistics">
                        {{stat.attack_events}}
                    </li>
                </td>
                <td>
                    <li ng-repeat="stat in result.statistics">
                        {{stat.successful_attack_events}}
                    </li>
                </td>
                <td>
                    <li ng-repeat="stat in result.statistics">
                        {{stat.deaths}}
                    </li>
                </td>
                <td>
                    <li ng-repeat="stat in result.statistics">
                        {{stat.kills}}
                    </li>
                </td>
                <td>
                    <li ng-repeat="stat in result.statistics">
                        {{stat.accidentals}}
                    </li>
                </td>
                <td>
                    <li ng-repeat="stat in result.statistics">
                        {{stat.shots}}
                    </li>
                </td>
                <td>
                    <li ng-repeat="stat in result.statistics">
                        {{stat.hits}}
                    </li>
                </td>
            </table>
        </tr>
    </table>
</div>
</body>
</html>