.imageHandler{
    position: absolute;
    height: 100%;
    width:100%;
    top: 0;
    left:0;
}
.mainContainer{
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width:100%;

}
#DivPosition{
    position: absolute;
    bottom: 0;
    margin: 20px;
    left: 35%;
}
.menuPosition{
    position: absolute;
    left: 150px;
}
#enemyStats{
    position: absolute;
    overflow-x: auto;
    overflow-y: auto;
    left:0.3%;
    background: rgba(0,0,0,0.65);
    top: 10%;
    bottom: 10%;
    width: 25%;
    color: #bbbbbb;
}
#newsfeed{

}
.newsfeedDayColumn{
    width: 60px;
}
.newsfeedStringColumn{

}

#logo{
    background-image: url("../Images/log_background.png");
    background-size: 100%;
    background-repeat: no-repeat;
}
#globalStats{
    position: absolute;
    overflow: auto;
    right: 0.3%;
    background: rgba(0,0,0,0.65);
    top: 10%;
    bottom: 50%;
    width: 25%;
    color: #bbbbbb;
}
#mapURL{
    position: absolute;
    height: 100%;
    width:100%;
    top: 0;
    left:0;
}
.tableStyle{
    border-collapse: separate;
    font-size: medium;
    font-weight: bold;
    position: absolute;
    top:1%;
    left:1%;
    background: #353535;
}